affine==2.4.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1692002592108/work
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1678327090424/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1687884021435/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1691614705690/work
certifi==2023.7.22
cffi==1.15.1
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1666833854447/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorcet==3.0.1
comm==0.1.4
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1686733820580/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1689981891696/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1691196036227/work
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1691198235118/work
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
Fiona==1.9.4.post1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1691006583053/work
fqdn==1.5.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1686342280219/work
geopandas==0.13.2
geoviews==1.10.1
holoviews==1.17.1
hvplot==0.8.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
ipykernel==6.25.1
ipython==8.14.0
isoduration==20.11.0
jedi==0.19.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.2
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab_server==2.24.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805701884/work
linkify-it-py==2.0.2
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1675806673645/work
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769049201/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1678135565516/work
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.1
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1678312712169/work
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.7.4
nbformat==5.9.2
nest-asyncio==1.5.7
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1687961132975/work
notebook_shim==0.2.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1691056231492/work
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1688740542634/work
pandocfilters==1.5.0
panel==1.2.1
param==1.13.0
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1688255837355/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1681775027942/work
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pycparser==2.21
pyct==0.5.0
Pygments==2.16.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1686688423719/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pyviz_comms==3.0.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772395347/work
pyzmq==25.1.1
rasterio==1.3.8
referencing==0.30.2
regionmask==0.10.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rioxarray==0.15.0
rpds-py==0.9.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1687995573301/work/base/dist/scipy-1.11.1-cp310-cp310-linux_x86_64.whl#sha256=8d5deeb2c6d26ebd0fd1ecccdf7a146031927d8ec819fdfa3dc5ca26775f227d
seaborn==0.12.2
Send2Trash==1.8.2
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1679081540669/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve==2.4.1
stack-data==0.6.2
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1692311754788/work
tqdm==4.66.1
traitlets==5.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uc-micro-py==1.0.2
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1667239886688/work
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1689599939832/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1689285763161/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
